django
dj-database-url
djangorestframework       
djangorestframework_simplejwt 
pillow 
psycopg2-binary
gunicorn
whitenoise 
boto3
django-cors-headers
python-dotenv    
django-allauth  
google-auth 
requests
redis
django-celery-beat
django-redis
stripe
django-schema-viewer
stripe 
django-filter
channels 
channels-redis
daphne
paypalrestsdk
